@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using Blazored.Toast.Configuration

<div class="page">


    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="3"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />