<style>
    /* Navbar header bar */
.navbar-blue {
        background-color: #084298; /* Bootstrap primary blue */
    color: white;
}

/* Side nav background */
.nav-blue-background {
    background-color: lightblue; /* Slightly darker blue */
    color: white;
}

/* Nav links in side nav */
.nav-link-blue {
    color: #cfe2ff;
}

.nav-link-blue:hover, .nav-link-blue.active {
    background-color: #084298;
    color: #ffffff;
}

/* Optional: navbar-toggler if you want a custom color for the hamburger icon */
.navbar-blue .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar-blue .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

</style>


<div class="top-row ps-3 navbar navbar-blue">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="">SOfCO To Do</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable nav-blue-background" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-blue" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
